<button id="{{id}}" class="button" {{#if disabled}}disabled{{/if}}>
  {{#if icon}}
    <span class="button-icon">{{{icon}}}</span>
  {{/if}}
  {{#if text}}
    <span class="button-text">{{text}}</span>
  {{/if}}
</button>
