<div class="chat-list">
  <div class="chat-list__header">
    <h2>Чаты</h2>
    <div class="chat-list__actions">
      {{{createChatButton}}}
    </div>
  </div>
  <ul class="chat-list__items">
    {{{chatItems}}}
  </ul>
</div>
