<div class="chat-header">
  <img src="{{avatar}}" alt="Avatar" class="header-avatar">
    <div>
      <span class="header-name">{{name}}</span>
      <span class="header-status">{{#if status}}
                                            {{status}}
                                      {{else}}
                                             Оффлайн
                                      {{/if}}</span>
    </div>
</div>
