.error-container {
  padding: 50px;
  text-align: center;
}

.error-container h1 {
  margin-bottom: 10px;
  color: #ff4757;
  font-size: 80px;
}

.error-container p {
  margin-bottom: 20px;
  font-size: 20px;
}

.error-container button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  background: #007bff;
  border-radius: 5px;
  transition: background 0.3s;
}

.error-container button:hover {
  background: #0056b3;
}
